<?xml version="1.0" encoding="utf-8"?>
<!--
Bu dosya, Web projenizin yayımlama/paket işlemi tarafından kullanılıyor. MSBuild dosyasını düzenleyerek
bu işlemin davranışını düzenleyebilirsiniz. Bununla ilgili daha fazla bilgi edinmek için https://go.microsoft.com/fwlink/?LinkID=208121 adresini ziyaret edin. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/b3352f11-cb49-4640-8d63-abb4a2b1834b/resourcegroups/WebApi20211230015834ResourceGroup/providers/Microsoft.Web/sites/dungeoncity-backend</ResourceId>
    <ResourceGroup>WebApi20211230015834ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/b3352f11-cb49-4640-8d63-abb4a2b1834b/resourceGroups/WebApi20211230015834ResourceGroup/providers/Microsoft.ApiManagement/service/dungeoncity-webapi/apis/dungeoncity-webapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dungeoncity-backend.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3904a1be-5f44-41fd-8990-6502cbe19c28</ProjectGuid>
    <MSDeployServiceURL>dungeoncity-backend.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dungeoncity-backend</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$dungeoncity-backend</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>